/*barra lateral*/
.barra-lateral {
  background-color: #3d5656;
  height: 100vh;
  width: 22vw;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.item-encabezado {
  margin-top: 10%;
  margin-bottom: 9%;
}

.icon-venta{
  margin-left: -9%;
}

.menu-item {
  width: 90%;
  height: 5.9%;
  margin-top: 2%;
  border-radius: 12px;
  background-color: #688686;
  gap: 10px;
  color: #a0a0a0;
  font-size: 18px;
  cursor: pointer;
  position: relative;
}

.menu-item:after {
  content: "";
  position: absolute;
  background-color: #cffdec;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}

.menu-item:hover {
  color: white;
}

.menu-item:hover::after {
  width: 100%;
}

/*main-formularios*/
main {
  background-color: #6eccaf;
  height: 100vh;
  width: 78vw;
}
